.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  margin-left: 3rem;
  align-items: stretch;
}
.text_container {
  width: 35%;
}
.poster {
  width: 40%;
}
@media (max-width: 600px) {
  .text_container {
    width: 100%;
    font-size: 2rem;
    margin: auto;
  }
  .poster {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .text_container {
    width: 100%;
    font-size: 2rem;
    margin: auto;
  }
  .poster {
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 901px) and (max-width: 1281px) {
  .text_container {
    width: 70%;
    font-size: 2rem;
    margin: auto;
    justify-content: center;
  }
  .poster {
    width: 70%;
    margin: auto;
  }
}

.content {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}
.tickets {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: var(--font-size-L);
  font-weight: 600;
  color: var(--primary-color);
}
.img {
  filter: invert(79%) sepia(58%) saturate(902%) hue-rotate(315deg)
    brightness(101%) contrast(92%);
}
.overview {
  width: 40%;
  font-size: var(--font-size-M);
  margin-bottom: 1rem;
}
.details {
  display: flex;
}
.baying {
  width: 50%;
  margin: 2rem 0;
}
.buttons {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
