.container {
  width: 20%;
  height: 40vh;
  border: 1px solid red;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
